<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../js/vue.js"></script>
</head>

<body>
    <!-- 
        简单计算器:A+B
    -->
    <div id="app">
        <div>
            数字A:<input type="text" v-model='a'>
        </div>
        <div>
            数字B:<input type="text" v-model='b'>
        </div>
        <div>
            <button v-on:click='getSum'>计算</button>
        </div>
        <div>
            计算结果:{{sum}}
        </div>
    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a: '',
                b: '',
                sum: ''
            },
            methods: {
                getSum: function () {
                    this.sum = parseInt(this.a) + parseInt(this.b);
                }
            }
        });
    </script>
</body>

</html>